.topo{
    border-radius: 15px;
    position: fixed;
    float: bottom;
    bottom: 15px;
    left: 300px;
}

.alinhar{
    position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #00a3ce;
}

.bg-form{
    background-image: url("../templeteAssets/assets/img/capa-teste.jpg");
    background-repeat: no-repeat ;
}

.section-form{
    margin-top: 1%;
}

.space-error-bg{
    margin-top: 2%;
}