.topo{
    border-radius: 15px;
    position: fixed;
    float: bottom;
    bottom: 15px;
    left: 90%;
}

.alinhar{
    position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #00a3ce;
}
.alinhar-mid-teste{
    position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title-resultado-sobre{
    position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.300em;
    margin: 1%;
}

.resultado-cursos{
    position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bg-form{
    background-image: url("../assets/template/img/capa-teste.jpg");
    background-repeat: no-repeat ;
}

.section-form{
    margin-top: 1%;
}

.space-error-bg{
    margin-top: 2%;
}

.center-modal-screen {
    margin-top: 5%;
}

.sobre-teste-desc{
    font-size: 1.0em;
}

.desc-grupo{
    font-size: 1.0em;
}

.text-green{
    color: rgb(0, 205, 62);
}

.center-content{
    position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ft-14{
    font-size: 14px;
}
.ft-15{
    font-size: 15px;
}

.f-white{
    color: white;
}

.mt-6-rem{
    width: auto;
    margin-top: 6rem;
}

.alertQ {
    position: relative;
    padding: 0.5rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    width: 100%;
    color: #ec1a2e;
    background-color: #ffd550;
}

.qfim{
    color: #0f88b1;
    background-color: rgba(90, 169, 177, 0.35);
    font-weight: bold;
}


/*---------------RESPONSIVE DESKTOPS-----------------*/
/*Desktop 1368 x 768*/
@media (min-width: 1366px) and (max-height: 768px){
    .topo{
        left: 95%;
    }
    .logo-home{
        width: 70%;
    }
}
/*Desktop 1400 x 900 {OK!}*/
/*Desktop 1680 x 1050 {OK!}*/
/*Desktop 1920 x 1080 {OK!}*/

/*---------------RESPONSIVE MOBILES-----------------*/
/*================IPHONE X=================*/

/*VERTICAL*/
@media (width: 375px) and (height: 812px){
    /*HOME*/
    .container .content-center{
        margin-top: 50px;
    }
    .topo{
        margin-bottom: 20px;
        left: 85%;
    }
    .wrapper .section{
        padding: 0 !important;
    }
    .row .col .card{
        margin-top: 0 !important;
    }
    /*FORM CAND*/
    .row .col .d-flex .title{
        width: 200px;
        font-size: 20px;
    }
    .form-row .form-group .form-control{
        width: 350px !important;
    }
    .btn-rp-inicio{
        margin-top: 25px !important;
    }
    .form-row .form-group .btn-rp-submit{
        margin-left: 9.5em !important;
        padding: 10px 50px !important;
    }
    /*RESULTADO CAND*/
    .title-resultado-sobre{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .resultado-cursos{
        flex-direction: column;
        align-items: normal;
    }
}

/*HORIZONTAL*/
@media (width: 812px) and (height: 375px){
    /*HOME*/
    .container .brand{
        margin-top: 300px;
    }
    .wrapper .page-header{
        padding-bottom: 750px !important;
    }
    .topo{
        margin-bottom: 20px;
        left: 720px;
    }
    /*FORM CAND*/
    .btn-rp-inicio{
        margin-top: 30px !important;
    }
}



