.topo{
    border-radius: 15px;
    position: fixed;
    float: bottom;
    bottom: 15px;
    left: 90%;
}

.alinhar{
    position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #00a3ce;
}

.alinhar-mid-teste{
    position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title-resultado-sobre{
    position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.300em;
    margin: 1%;
}

.resultado-cursos{
    position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bg-form{
    background-image: url("../template/img/capa-teste.jpg");
    background-repeat: no-repeat ;
}

.alinhar-bg-questoes{
    position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: url("../template/img/fundo-capa-2019.jpg") center;
}

.alinhar-bg-resultado{
    position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: url("../template/img/fundo-capa-2019.jpg");
}

.section-form{
    margin-top: 1%;
}

.space-error-bg{
    margin-top: 2%;
}

.center-modal-screen {
    margin-top: 5%;
}

.sobre-teste-desc{
    font-size: 1.0em;
}

.desc-grupo{
    font-size: 1.0em;
}

.text-green{
    color: rgb(0, 205, 62);
}

.center-content{
    position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ft-14{
    font-size: 14px;
}
.ft-15{
    font-size: 15px;
}

.f-white{
    color: white;
}

.mt-6-rem{
    width: auto;
    margin-top: 6rem;
}

.alertQ {
    position: relative;
    padding: 0.5rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    width: 100%;
    color: #ec1a2e;
    background-color: #ffd550;
}

.qfim{
    color: #0f88b1;
    background-color: rgba(90, 169, 177, 0.35);
    font-weight: bold;
}


/*---------------RESPONSIVE DESKTOPS-----------------*/
/*Desktop 1368 x 768*/
@media (min-width: 1360px) and (max-height: 768px){
    .topo{
        left: 95%;
    }
    .logo-home{
        width: 55%;
    }
}

@media screen and (min-width: 1010px) and (max-height: 790px) {
    .topo{
        margin-bottom: 5%;
    }
    .logo-home{
        width: 60%;
    }
}
/*Desktop 1400 x 900 {OK!}*/
/*Desktop 1680 x 1050 {OK!}*/
/*Desktop 1920 x 1080 {OK!}*/

/*---------------RESPONSIVE MOBILES-----------------*/
/*================IPHONE X=================*/

/*VERTICAL*/
@media (width: 375px) and (height: 812px){
    /*HOME*/
    .container .content-center{
        margin-top: 50px;
    }
    .topo{
        margin-bottom: 20px;
        left: 85%;
    }
    .wrapper .section{
        padding: 0 !important;
    }
    .row .col .card{
        margin-top: 0 !important;
    }
    /*FORM CAND*/
    .row .col .d-flex .title{
        width: 200px;
        font-size: 20px;
    }
    .form-row .form-group .form-control{
        width: 350px !important;
    }
    .btn-rp-inicio{
        margin-top: 25px !important;
    }
    .form-row .form-group .btn-rp-submit{
        margin-left: 9.5em !important;
        padding: 10px 50px !important;
    }
    /*RESULTADO CAND*/
    .title-resultado-sobre{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .resultado-cursos{
        flex-direction: column;
        align-items: normal;
    }
}

/*HORIZONTAL*/
@media (width: 812px) and (height: 375px){
    /*HOME*/
    .container .brand{
        margin-top: 300px;
    }
    .wrapper .page-header{
        padding-bottom: 750px !important;
    }
    .topo{
        margin-bottom: 20px;
        left: 720px;
    }
    /*FORM CAND*/
    .btn-rp-inicio{
        margin-top: 30px !important;
    }
}

/*MOBILES width 375px between 400px | Reference Device: Iphone 6/7/8 and 8 PLUS*/
/*VERTICAL*/
@media (min-device-width: 375px) and (max-device-width: 420px){
    /*HOME*/
    .container .content-center{
        margin-top: 30%;
    }
    .topo{
        margin-bottom: 20px;
        left: 85%;
    }
    .wrapper .section{
        padding: 0 !important;
    }
    .row .col .card{
        margin-top: 0 !important;
    }
    .row .col .card-text{
         font-size: 16px !important;
    }
    /*FORM CAND*/
    .row .col .d-flex .title{
        width: 200px;
        font-size: 20px;
    }
    .form-row .form-group .form-control{
        min-width: 350px !important;
    }
    .btn-rp-inicio{
        margin-top: 25px !important;
    }
    .form-row .form-group .btn-rp-submit{
        padding: 10px 50px !important;
    }
    .form-rp{
        min-width: 375px;
        max-width: 414px;
    }
    /*RESULTADO CAND*/
    .title-resultado-sobre{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .resultado-cursos{
        flex-direction: column;
        align-items: normal;
    }
}
/*HORIZONTAL*/
@media (min-device-height: 375px) and (max-device-height: 420px){
    /*HOME*/
    .container .content-center{
        margin-top: 60%;
    }
    .topo{
        margin-bottom: 20px;
        left: 85%;
    }
    .wrapper .section{
        padding: 0 !important;
    }
    .row .col .card-text{
        font-size: 12px !important;
    }
    .row .col .font-italic{
        font-size: 12px !important;
    }
    .wrapper .page-header{
        padding-bottom: 750px !important;
    }
    /*FORM CAND*/
    .row .col .d-flex .title{
        width: 200px;
        font-size: 20px;
    }
    .form-row .form-group .form-control{
        min-width: 350px !important;
    }
    .btn-rp-inicio{
        margin-top: 25px !important;
    }
    .form-row .form-group .btn-rp-submit{
        padding: 10px 50px !important;
    }
    .form-rp{
        min-width: 375px;
        max-width: 414px;
    }
    /*RESULTADO CAND*/
    .title-resultado-sobre{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .resultado-cursos{
        flex-direction: column;
        align-items: normal;
    }
}

/*MOBILES width 420px between 500px | Reference Device: Iphone 6/7/8 and 8 PLUS*/
/*VERTICAL*/
@media (min-device-width: 420px) and (max-device-width: 500px){
    /*HOME*/
    .container .content-center{
        margin-top: 30%;
    }
    .topo{
        margin-bottom: 20px;
        left: 85%;
    }
    .wrapper .section{
        padding: 0 !important;
    }
    .row .col .card{
        margin-top: 0 !important;
    }
    .row .col .card-text{
        font-size: 18px !important;
    }
    /*FORM CAND*/
    .row .col .d-flex .title{
        width: 200px;
        font-size: 20px;
    }
    .form-row .form-group .form-control{
        min-width: 350px !important;
    }
    .btn-rp-inicio{
        margin-top: 25px !important;
    }
    .form-row .form-group .btn-rp-submit{
        padding: 10px 50px !important;
    }
    .form-rp{
        min-width: 375px;
        max-width: 414px;
    }
    /*RESULTADO CAND*/
    .title-resultado-sobre{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .resultado-cursos{
        flex-direction: column;
        align-items: normal;
    }
}
/*HORIZONTAL*/
@media (min-device-height: 420px) and (max-device-height: 500px){
    /*HOME*/
    .container .content-center{
        margin-top: 60%;
    }
    .topo{
        margin-bottom: 20px;
        left: 85%;
    }
    .wrapper .section{
        padding: 0 !important;
    }
    .row .col .card-text{
        font-size: 12px !important;
    }
    .row .col .font-italic{
        font-size: 12px !important;
    }
    .wrapper .page-header{
        padding-bottom: 750px !important;
    }
    /*FORM CAND*/
    .row .col .d-flex .title{
        width: 200px;
        font-size: 20px;
    }
    .form-row .form-group .form-control{
        min-width: 350px !important;
    }
    .btn-rp-inicio{
        margin-top: 25px !important;
    }
    .form-row .form-group .btn-rp-submit{
        padding: 10px 50px !important;
    }
    .form-rp{
        min-width: 375px;
        max-width: 414px;
    }
    /*RESULTADO CAND*/
    .title-resultado-sobre{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .resultado-cursos{
        flex-direction: column;
        align-items: normal;
    }
}

/*Scroll Bar Custom*/

::-webkit-scrollbar {
    width: 8px;
    background: #dad7d7;
}
::-webkit-scrollbar-thumb {
    background: #2ca8ff;
}

/*Block Select Texts*/

label  {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

